body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
}

.container {
    position: relative;
    text-align: center;
}

img {
    max-width: 400px;
    pointer-events: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
